<form>
  <div class="form-group form-inline  d-flex justify-content-between">
    <button class="btn btn-primary w-50" (click)="openDialogAdd()">Ajouter</button>
    <div>
      <span class="font"> Cherchez votre produit : </span><input class="form-control ml-2" type="text"
                                                                 [formControl]="filter"/>
    </div>
  </div>
</form>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">ref</th>
    <th scope="col">image</th>
    <th scope="col">libelle</th>
    <th scope="col">marque</th>
    <th scope="col">prix</th>
    <th scope="col">stock</th>
    <th scope="col">editer</th>
    <th scope="col">supprimer</th>


  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let prod of produits$ | async;">
    <td class="pt-5 font">
      <ngb-highlight [result]="prod.ref.toString() " [term]="filter.value"></ngb-highlight>
    </td>
    <th scope="row"><img [src]="prod.image" height="100px" width="100px"></th>
    <td class="pt-5 font">
      <ngb-highlight [result]="prod.libelle" [term]="filter.value"></ngb-highlight>
    </td>
    <td class="pt-5 font">
      <ngb-highlight [result]="prod.marque" [term]="filter.value"></ngb-highlight>
    </td>
    <td class="pt-5 font">
      <ngb-highlight [result]="prod.prix.toString()"></ngb-highlight>
    </td>
    <td class="pt-5 font">
      <ngb-highlight [result]="prod.stock.toString()"></ngb-highlight>
    </td>
    <td class="pt-4 delete" (click)="openDialog(prod)"><img src="assets/images/edit1.svg.png" height="50px"></td>
    <td class="pt-4 delete" (click)="delete(prod)"><img src="assets/images/delete2.png" width="50px"></td>
  </tr>
  </tbody>
</table>
