    <div class="contact-clean">
        <form method="post">
            <h2 class="text-center">Contactez Nous</h2>
            <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Nom & Prenom"></div>
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email">
            	<!--<small class="form-text text-danger">Entrez un email correcte.</small>-->
            </div>
            <div class="form-group"><textarea class="form-control" rows="14" name="message" placeholder=" Votre Message"></textarea>
            </div>
            <div class="form-group"><button class="btn btn-primary" type="submit">Envoyer</button></div>
        </form>


    </div>