<div class="header">
  <mat-toolbar class="header__mat-t pt-2">
    <mat-toolbar-row>
      <div class="container ">
        <div class="row">
          <div class="col-3 mt-4">
            <span><button class="header__button__1">
                <mat-icon class="header__icon">stars</mat-icon><span class="text">Vendre sur Shopix</span>
              </button></span>
          </div>
          <div class="col-6"> <span><img src="../../../../assets/images/shopix.png" alt="no-images"
                class="small-img"></span></div>
          <div class="col-2 mt-4"> <a class="text-white ft" mat-button [matMenuTriggerFor]="langue">Langue <mat-icon>
                arrow_drop_down</mat-icon>
            </a>
            <mat-menu #langue="matMenu" fxLayoutAlign="end center">
              <button mat-menu-item>français</button>
              <button mat-menu-item>arabe</button>
            </mat-menu>
          </div>
          <div class="col-1 mt-4"><a  class="ft text-white"  mat-button [matMenuTriggerFor]="us">Mon compte <mat-icon class="header__icon">account_circle
              </mat-icon> </a>
            <mat-menu #us="matMenu" fxLayoutAlign="end center">
              <button mat-menu-item>Boutique</button>
              <button mat-menu-item (click)="logout()">Deconnexion</button>
            </mat-menu></div>
        </div>
      </div>
    </mat-toolbar-row>

  </mat-toolbar>
</div>



<div class="nav bg-pri">
  <mat-sidenav  [opened]="false" mode="over" #start class="header-sidenav" (mouseleave)="start.close()">
    <div *ngIf="categories">
    <div class="triangle"></div>
      <div *ngFor="let cat of categories" >
    <div class="sidebar-items" fxLayout="column"  >
      <div class="p-3 d-flex btn btn-outline-dark" [routerLink]="['/accueil/boutique',cat.nom]" >
        <mat-icon class="pr-5">android</mat-icon>
      <a mat-list-item class="d-block font-weight-bold" >{{cat.nom}}</a>
      </div>
    </div>
    </div>
    </div>

  </mat-sidenav>
  <div class="container pt-3 ">
    <div class="row">
      <div class="col-1 my-auto ml-negative mr-5 ">
        <span>
          <button class="nav__toggle" mat-icon-button (mouseover)="start.open()">
            <mat-icon class="nav__toggle__icon">menu</mat-icon>
          </button></span>
      </div>
      <div class="col-2 nav__logo my-auto mr-5">
        <a href=""><img src="../../../../assets/images/shopix.png" alt="no image" class="pt-3" width="200px"
            height="150px" style="margin: 0;"></a>
      </div>
      <div class="col-6 my-auto nav__search pt-3">
        <div class="search-form">
          <div class="form-1 d-flex" >
            <input type="text" class="form-1-input" (keyup)="chercher()" [(ngModel)]="input">
            <button type="submit" class="form-button ml-0">
              <mat-icon>search</mat-icon>
            </button>
          </div>
        </div>
        <div *ngIf="array" class="position-absolute width" >
          <div *ngFor="let prod of array">
            <mat-toolbar class="d-flex justify-content-between"  >
              <img [src]="prod.image" name="search" height="50px" width="50px" class="border-right">
              <div class=" text-center">{{prod.libelle}}</div>
              <div class=" text-center">{{prod.prix}} Dhs</div>
              <button class="btn btn-primary" (click)="add(prod)">ajouter</button>
            </mat-toolbar>
          </div>
        </div>
      </div>
      <div class="col-3 my-auto pt-3 ml-5 d-flex">
        <div class="contact d-flex">
          <div class="icon ">
            <mat-icon class="text-white mr-2" style="font-size: 50px;">call</mat-icon>
          </div>
          <div class="text">
            <p style="font-size: 20px;" class="ml-3">N° 0524042233 </p>
          </div>
        </div>
          <div class="panier  pl-4">
            <a routerLink="/accueil/panier" >
          <mat-icon class="text-white  ml-3" style="font-size: 50px;">shopping_cart</mat-icon>
          <span class="notif_panier text-white pl-0" >{{panierItems.length}}</span>
            </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="menu">
  <mat-toolbar-row>
      <div class="container">
        <div class="row menu_items">
          <div class="col-3"> <a  class="menu_link" routerLink="/accueil">Accueil</a></div>
          <div class="col-3"><a class="menu_link" routerLink="/accueil/boutique" >Boutique</a></div>
          <div class="col-4"> <a class="menu_link" routerLink="/accueil/a-propos">Qui Sommes Nous?</a></div>
          <div class="col-2"> <a class="menu_link" routerLink="/accueil/contact">Contactez-Nous</a></div>
        </div>
      </div>
  </mat-toolbar-row>
</div>
