#cat{
  cursor: pointer;
}
#cat:active{
  transform: translateY(-2px);
}
#cat1{
  cursor: pointer;
}
#cat1:active{
  transform: translateY(-2px);
}
.hexa:hover .icon{
  color: grey;
  cursor: pointer;
}
