<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between stretch">
  <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
    <app-stat [bgClass]="'danger'" [icon]="'bookmarks'" [route]="'/admin/produits'" [count]="nbrProduits" [label]="'Produits'"></app-stat>
  </div>
  <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
    <app-stat [bgClass]="'warn'" [icon]="'view_list'" [count]="12" [route]="'/admin/promotions'" [label]="'Promotions'" ></app-stat>
  </div>
  <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
    <app-stat [bgClass]="'success'" [icon]="'shopping_cart'" [route]="'/admin/commandes'" [count]="nbrCommandes" [label]="' Nouveaux Commandes'"></app-stat>
  </div>
  <div class="chartContainer">
    <canvas id="myChart"></canvas>
  </div>
</div>

