<div class="about-us-wrapper">
  <div class="container">
    <div class="about-section sec-padding" fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex="100" fxFlex.gt-sm="50" class="left-info-panel">
      <img src="assets/images/shopix.png" alt="" width="500px" height="500px" >
      </div>
      <div fxFlex="100" fxFlex.gt-sm="50" class="left-info-panel">
         <div class="about-us-intro">
             <h2>Qui Sommes-Nous?</h2>
             <p>Créé en mai 2020, Shopix est le site e-commerce N° 1 au Maroc dont l’objectif et la vision sont de fournir le plus large assortiment au meilleur prix pour tous les Marocains.
Le site web shopix est incontestablement la première destination de shopping en ligne au Maroc, avec 8,5 Millions de visites mensuelles, 3000 vendeurs et + 300 000 produits.
Shopix fait partie du Top 10 des sites les plus visités au Maroc.
Le délai de livraison moyen est de 1 à 5 jours.</p>
             <div class="accordions">
             <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h4>Dévenir un Partenaire</h4>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p>Nulla ac accumsan urna. Praesent id leo ut velit tempor gravida. Nulla facilisi. Nam blandit rhoncus lectus, eu euismod diam rhoncus et.
                      In sollicitudin bibendum odio, at tristique purus elementum sit amet. Integer vulputate, justo at lacinia suscipit, erat nibh interdum augue, sit amet hendrerit neque ipsum at eros.</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                          <h4>Vendre sur Shopix</h4>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Nulla ac accumsan urna. Praesent id leo ut velit tempor gravida.
                      In sollicitudin bibendum odio, at tristique purus elementum sit amet. Integer vulputate, justo at lacinia suscipit, erat nibh interdum augue, sit amet hendrerit neque ipsum at eros.</p>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h4>Poser vos Questions</h4>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <p>Nulla ac accumsan urna. Praesent id leo ut velit tempor gravida. Nulla facilisi. Nam blandit rhoncus lectus, eu euismod diam rhoncus et.
                          In sollicitudin bibendum odio, at tristique purus elementum sit amet. </p>
                    </mat-expansion-panel>

              </mat-accordion>
            </div>
         </div>
          </div>
    </div>
  </div>
  <div class="our-values sec-padding">
      <div class="container">
        <div class="title-wrapper">
          <h2 class="text-white">Nos Services </h2>
          <p class="text-white">Révolutionner l’expérience Shopping en Afrique..
            </p>
        </div>
        <div fxLayout="row" fxLayout.lt-sm="column" class="box-wraper">
            <div fxFlex="100" fxFlex.gt-sm="33.3" class="box">
              <div class="content">
                <div class="icon-box">
                    <i class="material-icons">
                        done_all
                        </i>
                </div>
                  <h4>Qualité</h4>
                  <p>Praesent id leo ut velit tempor gravida. Nam blandit rhoncus lectus, eu euismod diam</p>
              </div>
             </div>
             <div fxFlex="200" fxFlex.gt-sm="33.3" class="box">
                <div class="content">
                  <div class="icon-box">
                      <i class="material-icons">
                          build
                          </i>
                  </div>
                    <h4>Service Gratuite</h4>
                    <p>Praesent id leo ut velit tempor gravida. Nam blandit rhoncus lectus, eu euismod diam</p>
                </div>
               </div>
               <div fxFlex="200" fxFlex.gt-sm="33.3" class="box">
                  <div class="content">
                    <div class="icon-box">
                        <i class="material-icons">
                            local_shipping
                            </i>
                    </div>
                      <h4>Livraison Rapide</h4>
                      <p>Praesent id leo ut velit tempor gravida. Nam blandit rhoncus lectus, eu euismod diam</p>
                  </div>
                 </div>
        </div>
      </div>
  </div>
  <div class="our-team sec-padding">
      <div class="container">
        <div class="title-wrapper">
          <h2>Nos Experts </h2>
          <p>Praesent id leo ut velit tempor gravida. Nam blandit rhoncus lectus, eu euismod diam<br>committing wholeheartedly to delivering.
            </p>
        </div>
        <div class="team-members" fxLayout="row" fxLayout.lt-sm="column"  fxLayoutAlign="space-between center" >
            <div  fxFlex fxFlex.gt-sm="25" class="item">
                <div class="single-team-member">
                    <div class="img-box"><img src="assets/images/avataaars.svg" width="200px" alt="Awesome Image" >
                      <div class="overlay">
                        <div class="box">
                          <div class="content">
                            <ul class="social list-inline text-center" fxLayout="row" fxLayoutAlign="space-evenly center">
                              <li><a href=""><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                            <li><a href=""><i class="fa fa-instagram"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="text-box">
                      <h4>Soumana Abdou</h4>
                      <p>CEO &amp; Founder</p>
                    </div>
                  </div>
            </div>

            <div fxFlex fxFlex.gt-sm="25" class="item">
              <div class="single-team-member">
                  <div class="img-box"> <img src="assets/images/avataaars.svg" width="200px" alt="Awesome Image" >
                    <div class="overlay">
                      <div class="box">
                        <div class="content">
                          <ul class="social list-inline text-center" fxLayout="row" fxLayoutAlign="space-evenly center">
                            <li><a href=""><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                            <li><a href=""><i class="fa fa-instagram"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-box">
                    <h4>Yassir Accaf</h4>
                    <p>CEO &amp; Founder</p>
                  </div>
                </div>
          </div>

        </div>
      </div>
    </div>

</div>
