<div class="container">
  <div class="text-center">
    <img class="d-block mx-auto " src="assets/images/shopix.png" height="200px" width="200px">
    <p class="lead">Finalisez Votre Commande</p>
  </div>
  <div class="row">
    <div class="col-md-7 order-md-2 mb-4 pt-4  ">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Votre Panier</span>
        <span class="badge badge-secondary badge-pill">{{products.length}}</span>
      </h4>
      <ul class="list-group mb-3  overflow-auto h-50" *ngIf="products">
        <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let product of products">
        <div class="row text-center">
          <img [src]="product.product.image" alt="no image" class="col-4 border-right"  height="150px" width="100px" >
          <p class="border-right col-2 pt-5 h-100">{{product.product.libelle}}</p>
          <p class="border-right col-2 pt-5 h-100">{{product.product.description}}</p>
          <p class="border-right col-2 pt-5 h-100"><span class="text-info">Qte :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{{product.qte}}</p>
          <p class=" col-2  pt-5  h-100"><span class="text-info">{{product.product.prix}}</span></p>
        </div>
        </li>


       <!-- <li class="list-group-item d-flex justify-content-between bg-light">
          <div class="text-success">
            <h6 class="my-0">Promo code</h6>
            <small>EXAMPLECODE</small>
          </div>
          <span class="text-success">-$5</span>
        </li> -->

      </ul>
      <li class="list-group-item d-flex justify-content-between">
        <span class="ml-4 text-black-50">Total :</span>
        <strong>{{calculTotal()}}<span class="ml-3">DHS</span></strong>
      </li>
      <!-- <form class="card p-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Promo code">
          <div class="input-group-append">
            <button type="submit" class="btn btn-secondary">Appliquer</button>
          </div>
        </div>
      </form>-->
      </div>
    <div class="col-md-5 order-md-1">
      <h4 class="mb-3">Adresse de Livraison</h4>
      <form class="needs-validation" novalidate #endForm="ngForm" (ngSubmit)="onSubmit(endForm.value)">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="nom">Nom</label>
            <input type="text" class="form-control" id="nom" name="nom" #nom="ngModel" [(ngModel)]="user.nom" placeholder="" value="" required>
           <span class="text-danger" *ngIf="(nom.touched || endForm.submitted) && nom.errors?.required">Nom obligatoire</span>
          </div>
          <div class="col-md-6 mb-3">
            <label for="prenom">Prenom</label>
            <input type="text" class="form-control" id="prenom" name="prenom" #prenom="ngModel" [(ngModel)]="user.prenom" placeholder="" value="" required>
             <span class="text-danger" *ngIf="(prenom.touched || endForm.submitted) && prenom.errors?.required">Prenom Obligatiore</span>
          </div>
        </div>
        <div class="mb-3">
          <label for="email">Email <span class="text-muted">(Optional)</span></label>
          <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com" required #email="ngModel" [(ngModel)]="user.email">
         <span class="text-danger" *ngIf="(email.touched || endForm.submitted) && email.errors?.required">Email Obligatiore</span>
        </div>
        <div class="mb-3">
          <label for="address">Address</label>
          <input type="text" class="form-control" name="adresse1" #adresse1="ngModel" [(ngModel)]="adresse.adresse1"  id="address" placeholder="1234 Main St" required="">
          <div class="invalid-feedback"> Please enter your shipping address. </div>
        </div>
        <div class="mb-3">
          <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
          <input type="text" class="form-control" name="adresse2" #adresse2="ngModel" [(ngModel)]="adresse.adresse2" id="address2" placeholder="Apartment or suite">
        </div>
        <div class="row">

          <div class="col-md-6 mb-3">
            <label for="state">Ville</label>
            <select class="custom-select d-block w-100" id="state" name="ville" #ville="ngModel" id="ville" placeholder="" [(ngModel)]="adresse.ville"  required="">
              <option value="">Choisissez...</option>
              <option>Casablanca</option>
              <option>Fès</option>
              <option>Tanger</option>
              <option>Marrakech</option>
              <option>Salé</option>
              <option>Meknes</option>
              <option>Rabat</option>
              <option>Téméra</option>
              <option>Agadir</option>
              <option>Oujda</option>
            </select>

          </div>
          <div class="col-md-6 mb-3">
            <label for="zip">Coded postal</label>
            <input type="text" class="form-control" name="codePostal" #codePostal="ngModel" id="zip" placeholder="" [(ngModel)]="adresse.codePostal" required>

          </div>
        </div>

       <!-- <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="same-address" required="">
          <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="save-info">
          <label class="custom-control-label" for="save-info">Save this information for next time</label>
        </div>
        -->
        <hr class="mb-4">
        <h4 class="mb-3">Type de Paiement</h4>
        <div class="d-block my-3">
          <div class="custom-control custom-radio">
            <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" value="cb" (change)="onChecked($event)" [(ngModel)]="cb" required="">
            <label class="custom-control-label" for="credit">Carte Bancaire</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required="" checked >
            <label class="custom-control-label" for="debit">A la livraison</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required="">
            <label class="custom-control-label" for="paypal">PayPal</label>
          </div>
        </div>
        <div *ngIf="cb">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="cc-name">Name on card</label>
              <input type="text" class="form-control" id="cc-name" placeholder="" required="">
              <small class="text-muted">Full name as displayed on card</small>
              <div class="invalid-feedback"> Name on card is required </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="cc-number">Credit card number</label>
              <input type="text" class="form-control" id="cc-number" placeholder="" required="">
              <div class="invalid-feedback"> Credit card number is required </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 mb-3">
              <label for="cc-expiration">Expiration</label>
              <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
              <div class="invalid-feedback"> Expiration date required </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="cc-cvv">CVV</label>
              <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
              <div class="invalid-feedback"> Security code required </div>
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-lg btn-block text-white" style="background-color: #0E4157" type="submit"  > Finaliser Votre Commande</button>

      </form>
      </div>
       </div>
        <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">Shopix</p>
       </footer>
</div>
