/* You can add global styles to this file, and also import other style files */
@import   "~bootstrap/dist/css/bootstrap.min.css";
html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "./assets/scss/color1";
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/swiper/css/swiper.min.css";

//@import './scss/material';
@import './scss/utils';
//@import './scss/responsive';
@import './scss/variables';
//@import './scss/theme';

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
