<div class="footer">
  <div class="footer__1 ">
    <mat-toolbar>
      <mat-toolbar-row class="color-fourth">
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="footer__2 color-primary">
    <mat-toolbar class="color-primary footer3__toolbar pt-5">
      <mat-toolbar-row>
        <div class="container text-white">
          <div class="row mt-5">
            <div class="col-3 mt-5">
              <div class="w-50 h-75 mt-5">
                <h3>Besoin d'aide?</h3>
                <ul>
                  <li>Voir ou suivre vos <br> commandes</li>
                  <li> options de livraison</li>
                  <li>Shopix prémium</li>
                  <li>Infos sur Shopix</li>
                  <li>Assistant</li>
                  <li>Service client</li>
                </ul>
              </div>
            </div>
            <div class="col-3 mt-5">
              <div class="w-50 h-25 mt-5 ">
                <h3>Gagner de l'argent</h3>
                <ul>
                  <li>Vendre sur Shopix</li>
                  <li> la promotion <br> de vos produits</li>
                  <li>Dévenir affilié</li>
                </ul>
              </div>
            </div>
            <div class="col-3 mt-5">
              <div class="w-50 h-25  mt-5">
                <h3>Nous connaître</h3>
                <ul>
                  <li>A propos de nous</li>
                  <li>Nos service</li>
                  <li>Devenir partenaire</li>
                </ul>
              </div>
            </div>
            <div class="col-3 mt-5">
              <div class="w-50 h-25 mt-5 ">
                <h3>Mode de paiement <br> et Livrason</h3>
                <ul>
                  <li><img src="assets/images/visa.png" class="mr-3"> <img src="assets/images/mastercard.png"></li>

                </ul>
              </div>
              <div class="w-50 h-25 mt-5">
                <h3>Retrouvez nous sur</h3>
                <ul>
                  <li><img src="assets/images/facebook.png" class="mr-1">
                    <img src="assets/images/instagram.png" class="mr-1"><img src="assets/images/whatsapp.png"></li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="footer__3 ">
    <mat-toolbar class="footer3__toolbar">
      <mat-toolbar-row class="color-primary d-flex justify-content-center">
        <img src="../../../../assets/images/shopix.png" alt="no image" height="120px" width="120px">
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="footer__4 color-tertiary mt-0">
    <mat-toolbar class="color-tertiary ">
      <mat-toolbar-row>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>
