<div class="footer">
    <div class="footer__1 ">
        <mat-toolbar>
            <mat-toolbar-row class="color-fourth">
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <div class="footer__2 color-primary">
        <mat-toolbar class="color-primary footer3__toolbar pt-5">
            <mat-toolbar-row>
                <div class="container text-white">
                    <div class="row">
                        <div class="col-3">
                            <div class="w-50 h-75 ">
                             <h3>à propos</h3>
                             <ul>
                                 <li>hey hey hye lo</li>
                                 <li>hoy ohy ohy </li>
                                 <li>soy osy posu</li>
                             </ul>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="w-50 h-25 ">
                                <h3>besoin d'aide ?</h3>
                                <ul>
                                    <li>hey hey hye </li>
                                    <li>hoy ohy ohy </li>
                                    <li>soy osy posu</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="w-50 h-25 ">
                                <h3>contact</h3>
                                <ul>
                                    <li>hey hey hye </li>
                                    <li>hoy ohy ohy </li>
                                    <li>soy osy posu</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="w-50 h-25 ">
                                <h3>mode de paiement</h3>
                                <ul>
                                    <li>hey hey hye </li>
                                    <li>hoy ohy ohy </li>
                                    <li>soy osy posu</li>
                                </ul>
                         </div>
                        </div>
                    </div>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <div class="footer__3 ">
        <mat-toolbar class="footer3__toolbar">
            <mat-toolbar-row class="color-primary d-flex justify-content-center">
                <img src="../../../../assets/images/shopix.png" alt="no image" height="120px" width="120px">
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <div class="footer__4 color-tertiary mt-0">
        <mat-toolbar class="color-tertiary ">
            <mat-toolbar-row>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
</div>